.dd{
	height:50px;
	width:208px;
}

.ht{
	height: auto;
object-fit:cover; 
}
.washroom{
	height:50px;
	width:50px;
	background-color: darkgray;
}
.wingleft{
	height:50px;
	width:125px;
	background-color: #625075;
}
.wingright{
	height:50px;
	width:125px;
	background-color: #846c9e;
}
.wingsidetop{
	height:125px;
	width:50px;
	background-color: #78bfb4;
}
.wingsidebottom{
	height:125px;
	width:50px;
	background-color: #96ebdd;
}
.qt{
	height:125px;
	width:250px;
	background-color:lightgreen;
}