.{
	background-color: #c0c1c2;
}

.navito{
	background-color: #0e2433;
}

.navito1{
	background-color: #1c4966;
}

.navito2{
	background-color: #296d98;
}

.navito3{
	background-color: #3792cb;
}

.navito4{
	background-color: #45b6fe;
}

.ptr{
	cursor:pointer;
}

.just{
	text-align: center;
	background-color: #c0c1c2;
}

.jus{
	justify-content: space-around;
}